# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#Data Files
archive/
info/
dataset/

# Jupyter Notebook
.ipynb_checkpoints

# models
model/

# IPython
profile_default/
ipython_config.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/